@charset "utf-8";
/* CSS Document */

body{
	
	font-family:Tahoma;
	direction:rtl;
}

.back-image{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background:transparent url('images/background_1.png') repeat-x;
	background-size:6%;
	background-position:center top;
}

a{
	text-decoration:none;
	color:#fff;
}

.header:hover{
	opacity:1;
}/*kar nemikonad*/

.logo{
	margin-top:5px;
	background-image:url('images/logo.png');
	background-repeat:no-repeat;
	min-height:120px;
}

.logo h1{
	overflow:hidden;
	width:120px;
	direction:ltr;
	text-indent:-99em;
}
/************************** START MENU ***************************/
.menu{
	margin-top:25px;
}

.menu ul{
	list-style-type:none;
}

.menu li{
	float:right;
	background: url('images/seprater-menu.png') 0 10%;
	background-repeat:no-repeat;
}

.menu li:last-child{
	background-image:none;
}

.menu li a{
	display:block;
	padding:5px 15px;
}

.menu li a:hover{
/*	background:transparent no-repeat   url('images/menu_item_background.png');*/
	background-color:#b8c70e;
}
/************************* END MENU *********************/
/*************************** START home-left **************************/
.home-left{
	margin-top:60px;
	margin-left:30px;
}

/*{
	outline:1px dashed red;
}*/

/*************************** END home-left **************************/
/*************************** START FOOTER **************************/
.bg-footer{
	height:140px;/*delete*/
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background :transparent url('images/footer_background.png') repeat-x 50% 0;
}

.footer-content{
	margin:60px auto 0;
	padding-top:1px;
}

.footer-logo{
	width:130px;
	background:url('images/logo.png');
	background-repeat:no-repeat;
	background-size:120px 70px;
	margin-left:25px;
	min-height:70px;
}
/*************************** END FOOTER **************************/
/***************************START FOOTER MENU **************************/

.footer-menu{
	margin-top:35px;
}

.footer-menu ul{
	list-style-type:none;
	direction:rtl;
}

.footer-menu li{
	float:right;
	background: url('images/seprater-menu.png') 0 10%;
	background-repeat:no-repeat;
}

.footer-menu li:last-child{
	background-image:none;
}

.footer-menu li a{
	display:block;
	color:#F47F20;
	padding:0px 15px ;
}

.footer-menu li a:hover{
	color:#fff;
}

.copyright{
	color:#999;
	margin-top:35px;
	margin-right:620px;
	direction:ltr;
}
/*************************** END FOOTER MENU **************************/
/************************* START WINDOW *************************/
.window{
	width:855px;
	margin:0 auto;
	height:0;
	padding-top:1px;
	-webkit-border-radius:8px;
	-webkit-box-shadow:0px 10px 3px #444;
	background-color:black;
	opacity:0;
	overflow:hidden;
	-webkit-transition:all 1.5s; /* Safari and Chrome */
}

p.close a 
{ 
/*	overflow: hidden;*/
	float: right; 
	width: 15px; 
	height: 15px; 
	margin:15px 15px;
	background:url("images/window_close.png") no-repeat; 
	/*text-indent: -99em; */
}

p.close a:hover 
{ 
	background-position: 0 -15px;
	cursor:pointer; 
}
/************************* END WINDOW *************************/
.change-opacity{
		-webkit-transition:opacity 1.5s linear;
}
/************************START SLIDE***********************/
#slid{
	width:390px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	min-height:310px;
}

#slid .train{
	margin-top:20px;	
}

#slid .train > div{
	float:left;
	-webkit-transition:opacity .5s linear;
	-moz-transition:opacity .3s linear;
	-o-transition:opacity .3s linear;
	-ms-transition:opacity .3s linear;
}

#slid .train > div img{
	display:block;
}

#slid ul{
	list-style-type:none;
	position:absolute;
	top:280px;
	left:40px;
	z-index:20;
}

#slid li{
	float:right;
	width:15px;
	height:20px;
	background-image:url('images/buttom.png');
	background-repeat:no-repeat;
	margin-right:4px;
}

#slid li:hover{
	cursor:pointer;
}

#img1{
	opacity:1;
}

#img2{
	margin-top:-250px;
	opacity:0;
}

#img3{
	margin-top:-250px;
	opacity:0;
}

#img4{
	margin-top:-250px;
	opacity:0;
}


/********************* START CONTACT *****************/
.share-property{
	margin-right:30px;
	margin-top:10px;
	border-left:1px solid #111;
	height:400px;
	padding-left:40px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;/*font nas konim*/
	line-height:1.7;
	text-align:justify;
	color:#777;

}

.left-contact{
	margin-top:60px;
	margin-left:30px;
}

.share-property h1{
	color:#F47F20;	
	line-height:4;
}

.share-property h4{
	color:#DDD;
	line-height:3;
}

.email,.email a{
	text-align:left;
	color:#F47F20;	
}

.left-contact{
	text-align:right;
	line-height:1.8;
	color:#777;
	margin-left:20px;
}

.about-left{
	background-image:url('images/splash.jpg');
	background-repeat:no-repeat;
	margin-top:-370px;
	height:380px;
}

.mesvak-left{
	margin-top:-350px;
	margin-left:20px;
}

button {
	background-color:#95a207;
	padding: 2px 15px 2px 15px;
	border: none;
	white-space: nowrap;
	text-align:center;
	border-radius:2px; 
}

buttom,lable{
	cursor:pointer; /* kar nemikone */	
}

.boyebad-left{
	background-repeat:no-repeat;
	margin-top:-310px;
	width:350px;
	height:233px;
	padding: 0px 15px 2px 50px;
}

.darman-left{
	background-repeat:no-repeat;
	margin-top:-310px;
	width:350px;
	height:233px;
	padding: 0px 15px 2px 50px;
}

.pusidegy-left{
	vertical-align:text-top;
	margin-top:-310px;
}
/********************************** START BANNER AUTO *********************************/
div.banner{
	width:390px;
	height:280px;
	overflow:hidden;
/*	margin-top:20px;*/
	position:relative;
}

div.banner div.scroll{
	width:1600px; /* 5*980 (per img) */
	height:250px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);
	
}

div.banner div.scroll > div{
	width:390px;
	height:inherit;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
}

div.banner div.scroll > div.adv1{
	background-image:url(images/mesvak1.png);
}
div.banner div.scroll > div.adv2{
	background-image:url(images/mesvak2.png);
}
div.banner div.scroll > div.adv3{
	background-image:url(images/mesvak3.png);
}
div.banner div.scroll > div.adv4{
	background-image:url(images/mesvak4.png);
}
/*div.banner div.scroll > div.adv5{
	background-image:url(images/b5.jpg);
}*/

div.banner ul.btn{
	list-style-type:none;
	width:200px;
	height:16px;
	position:absolute;
	right:0;
	bottom:0px;

}

div.banner ul.btn li{
	float:left;
	width:30px;
	height:10px;
	margin-right:5px;
	background-color:#333;
	cursor:pointer;
	-webkit-transition:all 1000ms;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	background-color:#39D;
	height:22px;
	margin-top:-6px;
	-webkit-transition-duration:300ms;
}
/********************************* END BANNMER AUTO*******************************/