@charset "utf-8";
/* CSS Document */

body{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background:transparent url('images/background_1.png') repeat-x;
	background-size:6%;
	font-family:Tahoma;
}

a{
	text-decoration:none;
	color:#fff;
}

/*.header:hover{
	opacity:1;
}*/

.logo{
	background-image:url(images/logo.jpg);
	background-repeat:no-repeat;
	min-height:90px;
}

.logo h1{
	overflow:hidden;
	width:120px;
	text-indent:-99em;
}
/************************** START MENU ***************************/
.menu{
	direction: rtl;
	margin-top:25px;
}

.menu ul{
	list-style-type:none;
	direction:rtl;
}

.menu li{
	float:right;
	background: url('images/seprater-menu.png') 0 10%;
	background-repeat:no-repeat;
}

.menu li:last-child{
	background-image:none;
}

.menu li a{
	display:block;
	padding:2px 15px 25px;
}

.menu li a:hover{
	background:transparent no-repeat   url('images/menu_item_background.png');
}
/************************* END MENU *********************/

.content{
/*	min-height:500px;/*delete*/
}
/*************************** START FOOTER **************************/
.bg-footer{
	min-height:120px;/*delete*/
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background :transparent url('images/footer_background.png') repeat-x 50% 0;
}

.footer-content{
	margin:85px auto 0;
	padding-top:0px;
}

.footer-logo{
	background-image:url('images/footer_logo.png');
	background-repeat:no-repeat;
	min-height:100px;
}
/*************************** END FOOTER **************************/
/***************************START FOOTER MENU **************************/

.footer-menu{
	direction: rtl;
	margin-top:50px;
	margin-right:120px; 
}

.footer-menu ul{
	list-style-type:none;
	direction:rtl;
}

.footer-menu li{
	float:right;
	background: url('images/seprater-menu.png') 0 10%;
	background-repeat:no-repeat;
}

.footer-menu li:last-child{
	background-image:none;
}

.footer-menu li a{
	display:block;
	padding:2px 15px 25px;
}

.footer-menu li a:hover{
	color:#999;
}
/*************************** END FOOTER MENU **************************/
/************************* START IFRAME *************************/
.iframe{
	width:855px;
	height:40px;
	margin:160px auto;
	-webkit-border-radius:8px;
	background-color:black;
	opacity:.8;
	visibility:hidden;
	-webkit-transition:all 1.5s; /* Safari and Chrome */
}

/*.close{
	width:15px;
	height:15px;
	background-color:blue;
	float:right;
/*	visibility:hidden;*/
/*}*/

/*p.close { position: absolute; top: 13px; right: 13px; float: left; padding: 0; }*/
p.close a 
{ 
/*	overflow: hidden;*/
	float: right; 
	width: 15px; 
	height: 15px; 
	margin:15px 15px;
	background:url("images/window_close.png") no-repeat; 
	/*text-indent: -99em; */
}

p.close a:hover 
{ 
	background-position: 0 -15px;
	cursor:pointer; 
}
/*.frame{
	width:450px;
	/*min-height:30px;*/
	/*border:none;
	/*-webkit-transform:height;*/

/*}*/

/*.frame p{
	color:red;
}*/
/************************* END IFRAME *************************/

/************************* contact ******** somaye *************/

.contact{
	min-height:400px;
	background-color:#111;
	opacity:0.8;
	margin:0 auto;
	border-radius:5px;
}

.info{
	outline: 1px solid red;
	min-height:400px;
}

.form{
	outline: 1px solid blue;
	min-height:400px;
}

.info-contact{
	color : #fff;
	line-height:5;
	text-align:center;
	font-size:24px;
}

.map{
	color : #fff;
	font-size:14px;
	color:#777;
	padding-left:10px;
}

.form{
	color : #fff;
}

.form h1{
	padding-left:20px;
	color : #fff;
	line-height:6;
	font-size:24px;
	text-align:left;
}