body {
	background-color:transparent;
	color: white;
}

div.accslides {
	width    : 350px;
	margin   : 0 auto;
	overflow : hidden;
}

div.accslides .train{
	width : 900px;
}

div.accslides .train > div {
	float    : left;
	width    : 70px;
	overflow : hidden;
}

div.accslides .train > div:last-child {
	padding-right : 100px;
}

div.accslides .train > div > img {
	display: block;
}

div.accslides .train > div {
	-webkit-transition : width 700ms;
}

div.accslides:hover .train > div {
	width    : 50px;
}

div.accslides .train > div:hover {
	width    : 150px;
}
